body {
	font-family: "Times New Roman", serif;
	font-size: 17px;
	*margin: .5in;
	width: 8.5in;
	height: 11in;
	padding:0;
	margin: 0;
}

#page {
	padding: .5in;
	width: 9in;
}

div.line {
	position: static;
	border-bottom: 1px solid black
}

#header {
	visibility: hidden;
	/*padding: 0 0 0 0;*/
	position: relative
}

#navigation {
	visibility: hidden;
	position: absolute;
	background-color: #ffd;
	/*padding: .0 0 0 0;
	height: 0;*/
	border-top: 0;
}

#poBox { /*float: right;
	font-size: 22px;
	font-family: Courier;*/
	color: black;
}

.button {
	visibility: none;
	display: none;
}

#content {
	min-width: 7.5in;
	width: 8in;
}

.leftBox,.rightBox {
	height: none;
}